MONGO_URI=<your_mongodb_connection_string>
MONGO_DB_NAME=CivicPulse
JWT_SECRET=<your_jwt_secret_key>
PORT=8080
FRONTEND_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>
SUPERADMIN_ACCESS_CODE=<your_secure_access_code>
